.App {
  text-align: center;
  height: 100vh;
}
.html{
height: 100%
}
.button{
	position: fixed;
  bottom: 0;
  right: 0;
}
.body{
height: 100% !important;
}
.note{
	height: 33%
}
.noteContents{
	  position: relative;
	height: 100%;
	width: 100%;
}
.trash{
position: fixed;
  bottom: 0;
  right: 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
